<div class='slider-container'>
  {{! Slider List Items }}
  <div class='slider-wrapper swiper-wrapper'>
    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Slide 01</h3>
        <h2 class='slider-title'>Lorem ipsum dolor sit amet consectetur!</h2>
        <p class='slider-description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quia numquam vero
          repudiandae suscipit temporibus.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Slide 02</h3>
        <h2 class='slider-title'>Eos beatae porro praesentium accusamus facere</h2>
        <p class='slider-description'>Assumenda enim distinctio doloribus at vel ea obcaecati maiores! Velit dolor, quas
          illum hic eos voluptatem esse suscipit reprehenderit nihil, enim fugit dolorum</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Slide 03</h3>
        <h2 class='slider-title'>Mollitia, neque atque illo vel labore.</h2>
        <p class='slider-description'>Nisi labore qui numquam autem illo culpa doloremque distinctio sapiente alias quia
          quos temporibus unde?</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Slide 04</h3>
        <h2 class='slider-title'>Quia ullam porro itaque cum sint dignissimos</h2>
        <p class='slider-description'>Iure officiis placeat delectus ab consequuntur eligendi, saepe expedita temporibus
          porro odit. Ad in reprehenderit doloremque?</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Slide 05</h3>
        <h2 class='slider-title'>Eaque nemo unde praesentium eos rem magni</h2>
        <p class='slider-description'>Deserunt molestias animi in iusto, saepe debitis explicabo, voluptatum accusantium
          quidem quis ut? Reiciendis doloribus cum consequatur qui ratione.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>
  </div>

  {{! Slider Pagination }}
  <div class='slider-controls'>
    <ul class='slider-pagination'>
      <div class='slider-indicator'></div>
      <li class='slider-tab'>Lorem ipsum dolor sit</li>
      <li class='slider-tab'>Modi dolor provident quidem</li>
      <li class='slider-tab'>Quam reprehenderit sit eius harum</li>
      <li class='slider-tab'>Explicabo placeat magni doloribus</li>
      <li class='slider-tab'>Optio doloremque, amet officiis ipsam</li>
    </ul>
  </div>

  {{! Slider Navigation (Prev/Next) }}
  <div class='slider-navigation'>
    <button type='button' id='slide-prev'>left</button>
    <button type='button' id='slide-next'>right</button>
  </div>
</div>
