<footer class="footer">
  <div class='container'>
    {{!-- Intro | Socials | Subscription --}}
    <div class='footer__main'>

      {{! Intro }}
      <div class='footer__intro'>
        {{! Site Logo }}
        {{> components/logo/logo class="footer__logo"}}

        {{! Intro text }}
        <p class="text">Supporting athletes, celebrating<br />achievements, and advancing<br />the sport of shooting.</p>
      </div>

      {{! Subscription }}
      {{> components/subscription/subscription class='footer__newsletter'}}

      {{! Social Links }}
      <div class="footer__contacts">
        {{> components/contacts/contacts class='footer__address'}}
        {{> components/socials/socials class='socials--lg footer__socials'}}
      </div>
    </div>

    {{!-- Copyright --}}
    <div class='footer__bottom'>
      {{! Copyright text}}
      <p class='footer__copyright'>
        {{!-- Made with &#10084; by Dorian Devois<br /> --}}
        All rights reserved<br />
        Azerbaijan Shooting Federation &copy; 2026
      </p>
    </div>
  </div>
</footer>
