{{!-- Search Field --}}
<div class="search {{addClass}}">
  <input
    class="search__input"
    type="search"
    name="query"
    placeholder="Search..."
  />

  <svg class="search__icon" width="24" height="24" aria-label="Search icon">
    <use href="/assets/icons/sprite.svg#icon-ui-search"></use>
  </svg>
</div>
