/* Styles for Mobile devices */
.container {
  --container-padding: var(--space-md);

  width: 100%;

  padding-inline: var(--container-padding);
  margin-inline: auto;

  @media (max-width: 768px) {
    max-width: 600px;
  }

  @media (max-width: 319.98px) {
    // --container-padding: var(--space-md);
  }

  /* Styles for Tablet devices */
  @media (min-width: 768px) and (max-width: 1023.98px) {
    max-width: 900px;
  }

  /* Styles for Laptop devices */
  @media (min-width: 1024px) {
    // --container-padding: var(--space-xl);

    max-width: 1280px;
  }

  /* Styles for Desktop devices */
  @media (min-width: 1440px) {
    // max-width: 1440px;
  }
}
