.u-sr-only {
  position: absolute; // Виводимо елемент з нормального потоку
  width: 1px; // Робимо його практично невидимим
  height: 1px; // Робимо його практично невидимим
  padding: 0; // Забираємо внутрішні відступи
  border: 0; // Впевнюємося, що рамка не порушить layout
  margin: -1px; // Забираємо будь-який вплив на layout
  white-space: nowrap; // Забираємо перенос рядків
  overflow: hidden; // Приховуємо все, що виходить за межі
  clip-path: inset(100%); // Зменшує видиму область елемента до нуля, роблячи його невидимим
  clip: rect(0 0 0 0); // Старий метод обрізання (clip) - для сумісності
}
