:root {
  // 2px
  --space-2xs: 0.125rem;
  // 4px
  --space-xs: 0.25rem;
  // 8px
  --space-sm: 0.5rem;
  // 12px
  --space-md: 0.75rem;
  // 16px
  --space-lg: 1rem;
  // 24px
  --space-xl: 1.5rem;
  // 32px
  --space-2xl: 2rem;
  // 40px
  --space-3xl: 2.5rem;
  // 48px
  --space-4xl: 3rem;
  // 64px
  --space-5xl: 4rem;
  // 96px
  --space-6xl: 6rem;

  // bootstrap
  // 4px
  --spacer-xs: 0.25rem;
  // 8px
  --spacer-sm: 0.5rem;
  // 16px
  --spacer-md: 1rem;
  // 24px
  --spacer-lg: 1.5rem;
  // 48px
  --spacer-xl: 3rem;
}
