:root {
  /* Font family */
  --font-family-base: 'Roboto', Verdana, sans-serif;
  --font-family-heading: inherit;

  /* Font size */
  // 10px
  --font-size-2xs: 0.625rem;
  // 12px
  --font-size-xs: 0.75rem;
  // 14px
  --font-size-sm: 0.875rem;
  // 16px
  --font-size-md: 1rem;
  // 18px
  --font-size-lg: 1.125rem;
  // 20px
  --font-size-xl: 1.25rem;
  // 24px
  --font-size-2xl: 1.5rem;
  // 28px
  --font-size-3xl: 1.75rem;
  // 32px
  --font-size-4xl: 2rem;
  // 48px
  --font-size-5xl: 3rem;
  // 64px
  --font-size-6xl: 4rem;

  /* Line height */
  --line-height-tight: 1.15;
  --line-height-snug: 1.2;
  // база для інтерфейсів
  --line-height-base: 1.3;
  --line-height-normal: 1.35;
  --line-height-relaxed: 1.4;
  --line-height-loose: 1.45;
  // для довгих текстів
  --line-height-wide: 1.6;

  /* Letter spacing (tracking) */
  // body
  --tracking-text: 0.02em;
  // buttons, inputs, labels
  --tracking-ui: 0.04em;
}
