<button class="filter-toggle {{ addClass }}" type="button">
  <svg class="filter-toggle__icon" width="16" height="16" aria-hidden="true">
    <use href="/assets/icons/sprite.svg#icon-ui-cogs"></use>
  </svg>
  <span>Filters</span>
</button>
