<!-- About Us Section -->
<section class='about-us section'>
  <div class='container'>
    {{! Section Header }}
    <header class='section__header'>
      {{! Section Title }}
      <h2 class='section__title'>About us</h2>
      {{! Section Link }}
      <a class='section__link' href='about-us/'>
        <span class='text'>More details</span>
        <span class='u-sr-only'>about shooting federation</span>
        <svg class='icon' width='16' height='16'>
          <use href='assets/icons/sprite.svg#icon-ui-navigate-right'></use>
        </svg>
      </a>
    </header>

    {{! Section Excerpt }}
    <p class='section__excerpt'>
      Located in the eastern part of Baku, the Azerbaijan Shooting Center has been promoting sports and a healthy
      lifestyle among the youth since its opening on March 9, 2015.
    </p>

    {{! Section Body }}
    <div class='section__body about-us__layout'>
      <div class='about-us__media'>
        <img
          class='about-us__image'
          src='assets/images/other/aze-shooting-federation.jpg'
          alt="Company team collage with the text '25+ years of experience'"
          width='240'
          loading='lazy'
        />
      </div>

      <div class='about-us__content'>
        <h3 class='about-us__subtitle'>The center is distinguished by its functionality.</h3>
        <p class='about-us__text'>
          The center spans over 123,000 square meters, including shooting lines for up to 80 athletes simultaneously,
          halls for practical exercises, a doping control hall, weapons storage, a VIP lounge, and a café. It
          accommodates both professional and amateur shooters, offering facilities for competitions at 10, 25, 50, and
          300 meters.
        </p>
        <p class='about-us__text'>
          The complex features an indoor 10-meter range for 80 athletes, a 300-meter semi-enclosed range for
          professional competitions with 40 athletes, and multiple trap and skeet shooting ranges equipped with
          automated target launchers.
        </p>

        <ul class='about-us__features'>
          <li class='about-us__feature'>Providing social protection for athletes and coaches</li>
          <li class='about-us__feature'>Supporting sports veterans</li>
          <li class='about-us__feature'>Advanced training for shooting specialists</li>
          <li class='about-us__feature'>Organizing national and international competitions</li>
        </ul>

        <div class='about-us__actions'>
          <button type='button' class='button button--secondary' data-modal-open data-modal-type='callback'>
            Get Support
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
