.disciplines-slider__wrapper {
  padding-bottom: 36px;
  display: flex;
}

.disciplines-slider__wrapper .swiper-wrapper {
  height: auto;
}

.disciplines-slider__wrapper .swiper-wrapper .swiper-slide {
  height: 100%;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  padding: var(--space-lg);
}

.disciplines-slider__wrapper .disciplines-slider__navigation {
  position: absolute;
  width: 100%;
  bottom: 22px;
}

.disciplines-slider__navigation .disciplines-slider__btn-prev,
.disciplines-slider__navigation .disciplines-slider__btn-next {
  --swiper-navigation-sides-offset: 0;
  color: #dfe0fc;

  transform: translateY(10px);
  transition: color var(--duration-normal) var(--timing-cubic);

  &:hover {
    color: #8b5cf6;
  }
}

.disciplines-slider__wrapper .disciplines-slider__pagination {
  --swiper-pagination-bottom: 6px;
}

.disciplines-slider__wrapper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  overflow: hidden;
  opacity: 1;
  background-color: #dfe0fc;
}

.disciplines-slider__wrapper .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-accent);
  transform: scaleX(0);
  transform-origin: left center;
  animation: autoplay-loading 5000ms linear forwards;
}

@keyframes autoplay-loading {
  100% {
    transform: scaleX(1);
  }
}

.disciplines-slider__wrapper:hover .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}
