{{! Page Content }}
<main>
  <!-- Hero Slider Section -->
  <section>
    {{> components/hero-slider/hero-slider }}
  </section>

  {{!-- About Us Section --}}
  {{> layouts/about-us/about-us }}

  {{!-- Discipline Section --}}
</main>
