{{! Page Content }}
<main>
  <!-- Hero Slider Section -->
  <section>
    {{> components/hero-slider/hero-slider }}
  </section>

  {{!-- About Us Section --}}
  {{> layouts/about-us/about-us }}

  {{!-- Team Section --}}
  {{> layouts/team/team }}

  {{!-- Disciplines Section --}}
  {{> layouts/disciplines/disciplines }}

  {{!-- Disciplines Section --}}
  {{> layouts/competitions/competitions }}

  {{!-- Ranking Section --}}
  {{> layouts/ranking/ranking }}

  {{!-- News Section --}}
  {{> layouts/news/news }}

  {{!-- Partners Section --}}
  {{> layouts/partners/partners }}
</main>
