<!-- Competitions Section -->
<section class="competitions section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Competitions</h2>
      <!-- Section Link -->
      <a class="section__link" href="competitions/">
        <span class="text">See all</span>
        <span class="u-sr-only">&nbsp;shooting competitions</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      Stay updated on upcoming shooting competitions and events - from local
      tournaments to international championships!
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Competitions Slider (main container) -->
      <div class="competitions-slider swiper">
        <!-- Slider Wrapper -->
        <div class="competitions-slider__wrapper">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-competition-list">
            <!-- Swiper Slides -->
          </ul>

          <!-- Swiper Pagination -->
          <div class="competitions-slider__pagination swiper-pagination"></div>

          <!-- Swiper Navigation buttons -->
          <button class="competitions-slider__btn-prev swiper-button-prev">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
            </svg>
          </button>
          <button class="competitions-slider__btn-next swiper-button-next">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
