<!-- Partners Section -->
<section class="partners section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Partners</h2>

      <!-- Section Link -->
      <!-- <a class="section__link" href="partners/">
        <span class="text">See all</span>
        <span class="u-sr-only">&nbsp;partners</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a> -->
    </header>

    <!-- Section Excerpt -->
    <!-- <p class="section__excerpt">Trusted partnerships that support the progress of shooting sports.</p> -->
    <p class="section__excerpt">
      Our partners play a vital role in supporting the growth of shooting sports
      and the development of athletes at every level.
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Partners Slider (main container) -->
      <div class="partners-slider swiper">
        <!-- Slider Wrapper -->
        <div class="partners-slider__wrapper">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-partner-list">
            <!-- Swiper Slides -->
            {{!-- Partner ISSF --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="International Shooting Sport Federation"
                >
                  <svg
                    class="partner-card__logo"
                    width="120"
                    height="60"
                    aria-hidden="true"
                  >
                    <use href="assets/icons/logo/sprite.svg#logo-issf"></use>
                  </svg>
                </a>
              </article>
            </li>

            {{!-- Partner MOYAS --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="Ministry of Youth and Sports"
                >
                  <svg
                    class="partner-card__logo"
                    width="120"
                    height="60"
                    aria-hidden="true"
                  >
                    <use
                      href="assets/icons/logo/sprite.svg#logo-aze-moyas"
                    ></use>
                  </svg>
                </a>
              </article>
            </li>

            {{!-- Partner AMADA --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="Azerbaijan National Anti-Doping Agency"
                >
                  <svg
                    class="partner-card__logo"
                    width="120"
                    height="60"
                    aria-hidden="true"
                  >
                    <use href="assets/icons/logo/sprite.svg#logo-amada"></use>
                  </svg>
                </a>
              </article>
            </li>

            {{!-- Partner NOCAR --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="National Olympic Committee"
                >
                  <svg
                    class="partner-card__logo"
                    width="120"
                    height="60"
                    aria-hidden="true"
                  >
                    <use href="assets/icons/logo/sprite.svg#logo-nocar"></use>
                  </svg>
                </a>
              </article>
            </li>

            {{!-- Partner ESC --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="European Shooting Confederation"
                >
                  <svg
                    class="partner-card__logo"
                    width="120"
                    height="60"
                    aria-hidden="true"
                  >
                    <use href="assets/icons/logo/sprite.svg#logo-esc"></use>
                  </svg>
                </a>
              </article>
            </li>

            {{!-- Partner FITASC --}}
            <li class="swiper-slide" data-partner-id="id">
              <article class="partner-card">
                <a
                  class="partner-card__link"
                  href=""
                  aria-label="International Federation of Sporting Shooting Guns"
                >
                  <img
                    class="partner-card__logo"
                    src="/assets/icons/logo/png/logo-fitasc.png"
                    alt=""
                    width="120"
                    height="60"
                  />
                </a>
              </article>
            </li>
          </ul>

          <!-- Swiper Pagination -->
          <!-- <div class="partners-slider__pagination swiper-pagination"></div> -->

          <!-- Swiper Navigation buttons -->
          <!-- <button class="partners-slider__btn-prev swiper-button-prev">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
            </svg>
          </button> -->
          <!-- <button class="partners-slider__btn-next swiper-button-next">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
            </svg>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
