<div class='socials {{class}}'>
  <b class='socials__title'>Social media</b>
  <ul class='socials__list'>

    {{! Instagram }}
    <li class='socials__item'>
      <a class='socials__link' href='https://www.instagram.com/azeshooting/' aria-label='Instagram'>
        <svg class='socials__icon' width='20' height='20' aria-hidden='true'>
          <use href='assets/icons/sprite.svg#icon-social-instagram'></use>
        </svg>
      </a>
    </li>

    {{! X (Twitter) }}
    <li class='socials__item'>
      <a class='socials__link' href='' aria-label='X (Twitter)'>
        <svg class='socials__icon' width='20' height='20' aria-hidden='true'>
          <use href='assets/icons/sprite.svg#icon-social-x'></use>
        </svg>
      </a>
    </li>

    {{! Facebook }}
    <li class='socials__item'>
      <a class='socials__link' href='https://www.facebook.com/azeshooting/' aria-label='Facebook'>
        <svg class='socials__icon' width='20' height='20' aria-hidden='true'>
          <use href='assets/icons/sprite.svg#icon-social-facebook'></use>
        </svg>
      </a>
    </li>

    {{! LinkedIn }}
    <li class='socials__item'>
      <a class='socials__link' href='' aria-label='LinkedIn'>
        <svg class='socials__icon' width='20' height='20' aria-hidden='true'>
          <use href='assets/icons/sprite.svg#icon-social-linkedin'></use>
        </svg>
      </a>
    </li>

    {{! YouTube }}
    <li class='socials__item'>
      <a class='socials__link' href='https://www.youtube.com/@azeshooting/' aria-label='YouTube'>
        <svg class='socials__icon' width='20' height='20' aria-hidden='true'>
          <use href='assets/icons/sprite.svg#icon-social-youtube'></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
