<div class='slider-container'>
  {{! Slider List Items }}
  <div class='slider-wrapper swiper-wrapper'>
    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Precision discipline</h3>
        <h2 class='slider-title'>Air Pistol Shooting</h2>
        <p class='slider-description'>Short-distance shooting focused on control, stability, and perfect trigger work.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Absolute accuracy</h3>
        <h2 class='slider-title'>Air Rifle Shooting</h2>
        <p class='slider-description'>Olympic precision at 10 meters, where every millimeter defines the result.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Speed & reaction</h3>
        <h2 class='slider-title'>Skeet Shooting</h2>
        <p class='slider-description'>Dynamic clay target shooting with fast angles and rapid target acquisition.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Focus & timing</h3>
        <h2 class='slider-title'>Trap Shooting</h2>
        <p class='slider-description'>Unpredictable targets launched at distance demand sharp focus and timing.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>

    <div class='slider-item swiper-slide'>
      <div class='slider-content'>
        <h3 class='slider-subtitle'>Field simulation</h3>
        <h2 class='slider-title'>Sporting Shooting</h2>
        <p class='slider-description'>Realistic shooting scenarios that simulate hunting conditions and varied targets.</p>
        <a class='slider-button' href='#'><span>Learn More</span></a>
      </div>
    </div>
  </div>

  {{! Slider Pagination }}
  <div class='slider-controls'>
    <ul class='slider-pagination'>
      <div class='slider-indicator'></div>
      <li class='slider-tab'>Pistol</li>
      <li class='slider-tab'>Rifle</li>
      <li class='slider-tab'>Skeet</li>
      <li class='slider-tab'>Trap</li>
      <li class='slider-tab'>Sporting</li>
    </ul>
  </div>

  {{! Slider Navigation (Prev/Next) }}
  <div class='slider-navigation'>
    <button type='button' id='slide-prev'>
      <svg width='32' height='32' aria-hidden='true'>
        <use href='assets/icons/sprite.svg#icon-ui-arrow-left'></use>
      </svg>
    </button>

    <button type='button' id='slide-next'>
      <svg width='32' height='32' aria-hidden='true'>
        <use href='assets/icons/sprite.svg#icon-ui-arrow-right'></use>
      </svg>
    </button>
  </div>
</div>
