<!-- Ranking Section -->
<section class="ranking section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Ranking Tables</h2>
      <!-- Section Link -->
      <a class="section__link" href="disciplines/">
        <span class="text">Show all</span>
        <span class="u-sr-only">&nbsp;ranking tables</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      Explore the current official rankings of Azerbaijan's top shooting
      athletes across different disciplines.
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Partners Slider (main container) -->
      <div class="ranking-slider swiper">
        <!-- Slider Wrapper -->
        <div class="ranking-slider__wrapper">
          <!-- Swiper Navigation Buttons -->
          <div class="ranking-slider__navigation">
            <button class="ranking-slider__btn-prev swiper-button-prev">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-arrow-left"></use>
              </svg>
            </button>
            <button class="ranking-slider__btn-next swiper-button-next">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-arrow-right"></use>
              </svg>
            </button>
          </div>
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-ranking-list">
            <!-- Swiper Slides -->
            {{!-- Ranking Air Pistol Men --}}
            <li class="swiper-slide" data-event-id="10m_air_pistol_men">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Air Pistol</span>
                  <span class="ranking-card__gender">Men</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete"
                      ><a href="athletes/">Ruslan Lunev</a></span
                    >
                    <span class="standing__score standing__score--gold"
                      >577.75</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Vladislav Kalmikov</span>
                    <span class="standing__score standing__score--silver"
                      >575.50</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Rasul Mammadov</span>
                    <span class="standing__score standing__score--bronze"
                      >574.00</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Elvin Astanov</span>
                    <span class="standing__score">569.00</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Haji Musayev</span>
                    <span class="standing__score">568.25</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Air Pistol Women --}}
            <li class="swiper-slide" data-event-id="10m_air_pistol_women">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Air Pistol</span>
                  <span class="ranking-card__gender">Women</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Nigar Nasirova</span>
                    <span class="standing__score standing__score--gold"
                      >569.75</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Leyli Aliyeva</span>
                    <span class="standing__score standing__score--silver"
                      >567.50</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Sofiya Barkhalova</span>
                    <span class="standing__score standing__score--bronze"
                      >566.75</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Zeynab Sultanova</span>
                    <span class="standing__score">566.50</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Khanna Aliyeva</span>
                    <span class="standing__score">565.25</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Rapid Fire Pistol Men --}}
            <li class="swiper-slide" data-event-id="25m_rapid_fire_pistol_men">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline"
                    >Rapid Fire Pistol</span
                  >
                  <span class="ranking-card__gender">Men</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Ruslan Lunev</span>
                    <span class="standing__score standing__score--gold"
                      >571.00</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Imran Garayev</span>
                    <span class="standing__score standing__score--silver"
                      >280.50</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Jafar Sultanli</span>
                    <span class="standing__score standing__score--bronze"
                      >245.50</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Elvin Astanov</span>
                    <span class="standing__score">123.50</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Onur Huseynli</span>
                    <span class="standing__score">121.25</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Sport Pistol Women --}}
            <li class="swiper-slide" data-event-id="25m_sport_pistol_women">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Sport Pistol</span>
                  <span class="ranking-card__gender">Women</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Khanna Aliyeva</span>
                    <span class="standing__score standing__score--gold"
                      >573.25</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Zeynab Sultanova</span>
                    <span class="standing__score standing__score--silver"
                      >567.25</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Nigar Nasirova</span>
                    <span class="standing__score standing__score--bronze"
                      >565.75</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Sofiya Barkhalova</span>
                    <span class="standing__score">564.75</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Leyli Aliyeva</span>
                    <span class="standing__score">559.25</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Air Rifle Men --}}
            <li class="swiper-slide" data-event-id="10m_air_rifle_men">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Air Rifle</span>
                  <span class="ranking-card__gender">Men</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Uzeyir Tapdigli</span>
                    <span class="standing__score standing__score--gold"
                      >621.75</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Ramiz Khalilov</span>
                    <span class="standing__score standing__score--silver"
                      >619.53</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Zahid Sofiyev</span>
                    <span class="standing__score standing__score--bronze"
                      >610.73</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Alimammad Huseynov</span>
                    <span class="standing__score">609.75</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Hasanli Ilkin</span>
                    <span class="standing__score">593.08</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Air Rifle Women --}}
            <li class="swiper-slide" data-event-id="10m_air_rifle_women">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Air Rifle</span>
                  <span class="ranking-card__gender">Women</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Zhala Bayramova</span>
                    <span class="standing__score standing__score--gold"
                      >620.30</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Nigar Ramazanova</span>
                    <span class="standing__score standing__score--silver"
                      >617.95</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Elvina Afsana</span>
                    <span class="standing__score standing__score--bronze"
                      >617.85</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Nurana Aliyeva</span>
                    <span class="standing__score">615.68</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Aynur Mahmudova</span>
                    <span class="standing__score">614.20</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Skeet Men --}}
            <li class="swiper-slide" data-event-id="skeet_men">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Skeet</span>
                  <span class="ranking-card__gender">Men</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Niyaz Aghazada</span>
                    <span class="standing__score standing__score--gold"
                      >118.50</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Javid Hasanov</span>
                    <span class="standing__score standing__score--silver"
                      >116.00</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Fuad Gurbanov</span>
                    <span class="standing__score standing__score--bronze"
                      >114.25</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Ali Mustafayev</span>
                    <span class="standing__score">112.00</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Abidin Asadullayev</span>
                    <span class="standing__score">104.25</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Skeet Women --}}
            <li class="swiper-slide" data-event-id="skeet_women">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Skeet</span>
                  <span class="ranking-card__gender">Women</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete"
                      >Rigina Meftakhetdinova</span
                    >
                    <span class="standing__score standing__score--gold"
                      >110.00</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Nurlana Jafarova</span>
                    <span class="standing__score standing__score--silver"
                      >107.75</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Sevda Najafova</span>
                    <span class="standing__score standing__score--bronze"
                      >105.50</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Jamila Pashayeva</span>
                    <span class="standing__score">95.00</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Daniyella Ulanova</span>
                    <span class="standing__score">89.00</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Trap Men --}}
            <li class="swiper-slide" data-event-id="trap_men">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Trap</span>
                  <span class="ranking-card__gender">Men</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Alimirza GuliYev</span>
                    <span class="standing__score standing__score--gold"
                      >116.25</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Mirmomin Aghazada</span>
                    <span class="standing__score standing__score--silver"
                      >114.75</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Ali Huseynli</span>
                    <span class="standing__score standing__score--bronze"
                      >114.50</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Sabir Mehdizade</span>
                    <span class="standing__score">112.00</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Murtaza Novruzlu</span>
                    <span class="standing__score">108.50</span>
                  </li>
                </ul>
              </article>
            </li>

            {{!-- Ranking Trap Women --}}
            <li class="swiper-slide" data-event-id="trap_women">
              <article class="ranking-card">
                <div class="ranking-card__header">
                  <span class="ranking-card__discipline">Trap</span>
                  <span class="ranking-card__gender">Women</span>
                </div>

                <ul class="ranking-card__standings">
                  <li class="standing standing--gold">
                    <span class="standing__position standing__position--gold"
                      >1</span
                    >
                    <span class="standing__athlete">Aydan Jamalova</span>
                    <span class="standing__score standing__score--gold"
                      >103.25</span
                    >
                  </li>

                  <li class="standing standing--silver">
                    <span class="standing__position standing__position--silver"
                      >2</span
                    >
                    <span class="standing__athlete">Narmin Jafarova</span>
                    <span class="standing__score standing__score--silver"
                      >102.00</span
                    >
                  </li>

                  <li class="standing standing--bronze">
                    <span class="standing__position standing__position--bronze"
                      >3</span
                    >
                    <span class="standing__athlete">Alina Rafikhanova</span>
                    <span class="standing__score standing__score--bronze"
                      >99.75</span
                    >
                  </li>

                  <li class="standing">
                    <span class="standing__position">4</span>
                    <span class="standing__athlete">Shafag Pashayeva</span>
                    <span class="standing__score">96.25</span>
                  </li>

                  <li class="standing">
                    <span class="standing__position">5</span>
                    <span class="standing__athlete">Aydan Babayeva</span>
                    <span class="standing__score">95.25</span>
                  </li>
                </ul>
              </article>
            </li>
          </ul>

          <!-- Swiper Pagination -->
          <!-- <div class="ranking-slider__pagination swiper-pagination"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>
