<!-- Ranking Section -->
<section class="ranking section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Ranking Tables</h2>
      <!-- Section Link -->
      <a class="section__link" href="ranking/">
        <span class="text">Show all</span>
        <span class="u-sr-only">&nbsp;ranking tables</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      Explore the world rankings featuring top shooters from different
      disciplines across the globe.
    </p>

    <!-- Section Body -->
    <div class="section__body"></div>
  </div>
</section>
