.slider-container {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--page-header-height));
  min-height: 400px;
  overflow: hidden;
}

.slider-wrapper .slider-item {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  @media (max-width: 767.98px) {
    padding-top: var(--space-4xl);
  }

  @media (min-width: 768px) {
    align-items: center;
  }
}

.slider-wrapper .slider-item::before {
  content: '';
  position: absolute;
  z-index: var(--z-slider);
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url('/assets/images/slider/air-pistol-hd.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(20%);
}

.slider-wrapper .slider-item:nth-child(2)::before {
  background-image: url('/assets/images/slider/air-rifle-hd.jpg');
}

.slider-wrapper .slider-item:nth-child(3)::before {
  background-image: url('/assets/images/slider/skeet-hd.jpg');
}

.slider-wrapper .slider-item:nth-child(4)::before {
  background-image: url('/assets/images/slider/trap-hd.jpg');
}

.slider-wrapper .slider-item:nth-child(5)::before {
  background-image: url('/assets/images/slider/sporting-hd.jpg');
}

.slider-wrapper .slider-item .slider-content {
  position: relative;
  z-index: var(--z-slider);

  max-width: 100rem;
  width: 100%;

  padding: 0 var(--space-lg) var(--space-sm);
  margin: 0 auto;

  color: #fff;

  opacity: 0;
}

.slider-item.swiper-slide-active .slider-content {
  animation: animate_opacity 800ms 600ms linear forwards;
}

@keyframes animate_opacity {
  100% {
    opacity: 1;
  }
}

.slider-wrapper .slider-item .slider-content > * {
  max-width: 35%;
}

.slider-item .slider-content .slider-subtitle {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ef3340;

  opacity: 0;
  transform: translateY(60%);
}

.slider-item .slider-content .slider-title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;

  opacity: 0;
  transform: translateY(60%);
}

.slider-item.swiper-slide-active :where(.slider-subtitle, .slider-title) {
  animation: animate_text 600ms 600ms linear forwards;
}

@keyframes animate_text {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slider-item .slider-content .slider-description {
  margin-top: 1rem;

  font-weight: 500;

  opacity: 0;
  transform: translateY(60%);
}

.slider-item.swiper-slide-active .slider-description {
  animation: animate_text 600ms 1000ms linear forwards;
}

@keyframes animate_text {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slider-item .slider-content .slider-button {
  color: fff;
  width: 250px;
  padding: 15px 0;
  display: block;
  margin-top: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #fff;
  opacity: 0;
  transform: scale(0);

  transition:
    color 250ms linear,
    background-color 250ms linear;
}

.slider-item .slider-content .slider-button span {
  opacity: 0;
}

.slider-item.swiper-slide-active .slider-button span {
  animation: animate_opacity 600ms 1600ms linear forwards;
}

.slider-item.swiper-slide-active .slider-button {
  animation: animate_button 600ms 1300ms linear forwards;
}

@keyframes animate_button {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slider-item .slider-content .slider-button:hover {
  color: #000;
  background-color: #fff;
}

.slider-container .slider-controls {
  position: absolute;
  bottom: 45px;
  z-index: 20;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  font-weight: 500;
}

// Значення padding 20(px) використовується у функції updatePagination
// для підрахунку значення для translateX()
.slider-controls .slider-pagination {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
  justify-content: space-between;
  list-style: none;
}

.slider-pagination .slider-indicator {
  position: absolute;
  bottom: 0;
  width: 300px;
  border-bottom: 2px solid red;

  transition: transform 250ms ease-in-out;
}

.slider-pagination .slider-tab {
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 0.85rem;
}

.slider-navigation button {
  position: absolute;
  top: 50%;
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  padding: 0;

  border: none;
  border-radius: 9999px;

  line-height: 1;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  cursor: pointer;

  transform: translateY(-50%);

  transition:
    color 250ms linear,
    background-color 250ms linear;
}

.slider-navigation button.swiper-button-disabled {
  display: none;
}

.slider-navigation button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.slider-navigation button#slide-prev {
  left: 20px;
}

.slider-navigation button#slide-next {
  right: 20px;
}

@media (max-width: 1536px) {
  .slider-wrapper .slider-item .slider-content,
  .slider-controls .slider-pagination {
    width: 85%;
  }
}

@media (max-width: 1023.98px) {
  .slider-wrapper .slider-item .slider-content,
  .slider-controls .slider-pagination {
    width: 100%;
  }

  .slider-wrapper .slider-item .slider-content > * {
    max-width: 66%;
  }

  .slider-navigation button {
    top: unset;
    bottom: -15px;
    background: none;
  }

  .slider-navigation button:hover {
    background: none;
  }
}

@media (max-width: 767.98px) {
  .slider-wrapper .slider-item .slider-content > * {
    max-width: 100%;
  }
}

.slider-navigation button svg {
  fill: currentColor;
}
