<!-- Team Section -->
<section class="team section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Our Team</h2>
      <!-- Section Link -->
      <a class="section__link" href="athletes/">
        <span class="text">Show all</span>
        <span class="u-sr-only">&nbsp;team members</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      Behind every result is a person. Our team brings together talented
      athletes, skilled coaches, and committed specialists who share the same
      values, passion for sport, and pursuit of excellence.
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Team Slider (main container) -->
      <div class="team-slider swiper">
        <!-- Slider Wrapper -->
        <div class="team-slider__wrapper">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-team-list">
            <!-- Swiper Slides-->
          </ul>

          <!-- Swiper Pagination -->
          {{!-- <div class="team-slider__pagination swiper-pagination"></div> --}}

          <!-- Swiper Navigation buttons -->
          <div class="team-slider__btn-prev swiper-button-prev">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
            </svg>
          </div>
          <div class="team-slider__btn-next swiper-button-next">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
