  {{! Page Hero Section  }}
  <section class='page-hero {{#if page.slug}}page-hero--{{page.slug}}{{/if}}'>
    <div class='page-hero__container container'>
      {{! Page Hero Title }}
      <h1 class='page-hero__title'>{{page.title}}</h1>
      {{! Page Breadcrumbs  }}
      {{> components/breadcrumbs/breadcrumbs
          breadcrumbs=page.breadcrumbs
          addClass="page-hero__breadcrumbs"
      }}
    </div>
  </section>
