.socials {
  display: flex;
  flex-direction: column;

  --social-size: 1rem;

  &--lg {
    --social-size: 1.25rem;
  }

  &--xl {
    --social-size: 1.5rem;
  }
}

.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm);

  border: 1px solid transparent;
  border-radius: var(--radius-full);

  line-height: 1;

  background-color: rgba(255, 255, 255, 0.1);

  transition:
    color var(--duration-normal) var(--timing-cubic),
    background-color var(--duration-normal) var(--timing-cubic);

  &:hover,
  &:focus {
    background-color: var(--color-bg-accent);
  }
}

.socials__icon {
  flex-shrink: 0;

  width: var(--social-size);
  height: var(--social-size);

  fill: currentColor;
}
