<html lang='en'>
  {{!-- Head --}}
  {{> layouts/head/index }}
  {{!-- Body --}}
  <body data-page="{{page.slug}}">
    {{!-- Header --}}
    {{> layouts/header/index }}
    {{!-- Main --}}
    {{> layouts/pages/about-us/main }}
    {{!-- Foter --}}
    {{> layouts/footer/index}}
    {{!-- Modal Backdrop --}}
    {{> components/backdrop/backdrop}}
    {{!-- Page Scripts --}}
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
