{{! Page Content }}
<main class='page-content'>
  <!-- Hero Slider Section -->
  <section>
    {{> components/hero-slider/hero-slider }}
  </section>

  {{!-- About Us Section --}}
  {{> layouts/home-page/about-us }}

  {{!-- Discipline Section --}}
</main>
