<!-- News Section -->
<section class="news section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Latest News</h2>
      <!-- Section Link -->
      <a class="section__link" href="news/">
        <span class="text">Show all</span>
        <span class="u-sr-only">&nbsp;news</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      Stay on target with the latest shooting sports news — tournaments, athlete
      highlights, and exciting updates, all in one place!
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- News Slider (main container) -->
      <div class="news-slider swiper">
        <!-- Slider Wrapper -->
        <div class="news-slider__wrapper">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-news-list">
            <!-- Swiper Slides -->
            <li class="swiper-slide" data-atricle-id="id">
              <article class="news-card">
                <!-- News Card Thumbnail -->
                <div class="news-card__thumb">
                  <!-- News Card Image -->
                  <img
                    class="news-card__image"
                    src="assets/images/news/issf-leadership-meets-azerbaijan-officials-ahead-baku-world-cup/cover.jpg"
                    alt="ISSF leadership meeting Azerbaijani officials in Baku ahead of the ISSF World Cup"
                    width="260"
                  />

                  <!-- News Card Overlay -->
                  <div class="news-card__overlay">
                    <!-- News Card Excerpt -->
                    <p class="news-card__excerpt">
                      ISSF President Luciano Rossi and General Secretary
                      Alessandro Nicotra di San Giacomo met the Minister of the
                      Interior & President of the Azerbaijan Shooting Federation
                      Vilayat Eyvazov and Deputy Minister of the Interior Ismat
                      Alijev ahead of the ISSF World Cup in Baku.
                    </p>
                  </div>
                </div>

                <p class="news-card__category">
                  <a
                    class="link"
                    href="news/?category=press"
                    data-news-category="press"
                  >
                    Press Releases
                  </a>
                </p>

                <!-- News Card Content + Meta -->
                <div class="news-card__content">
                  <!-- News Card Tags -->
                  <ul class="news-card__tags tags">
                    <li class="tag tag--gold">
                      <a class="tags__link" href="news/?tag=world_cup"
                        >World Cup</a
                      >
                    </li>
                    <li class="tag tag--dark">
                      <a class="tags__link" href="news/?tag=pistol">Pistol</a>
                    </li>
                  </ul>

                  <!-- News Card Title -->
                  <h3 class="news-card__title">
                    <a class="link" href="news/">
                      Official meeting between ISSF officials and Azerbaijani
                      representatives in Baku
                    </a>
                  </h3>

                  {{!-- News Card Meta --}}
                  <div class="news-card__meta">
                    <!-- News Card Post Date -->
                    <time class="news-card__date" datetime="2024-05-02">
                      <svg
                        class="icon"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <use
                          href="assets/icons/sprite.svg#icon-ui-calendar"
                        ></use>
                      </svg>
                      <span class="text">02 May, 2024</span>
                    </time>

                    <!-- News Card Link -->
                    <a class="news-card__link" href="news/">
                      <span class="text">Read more</span>
                      <span class="u-sr-only">
                        about the ISSF President and General Secretary meeting
                        Azerbaijani officials ahead of the ISSF World Cup in
                        Baku
                      </span>
                    </a>
                  </div>
                </div>
              </article>
            </li>

            <!-- Swiper Slides -->
            <li class="swiper-slide" data-atricle-id="id">
              <article class="news-card">
                <!-- News Card Thumbnail -->
                <div class="news-card__thumb">
                  <!-- News Card Image -->
                  <img
                    class="news-card__image"
                    src="assets/images/news/issf-leadership-meets-azerbaijan-officials-ahead-baku-world-cup/cover.jpg"
                    alt="ISSF leadership meeting Azerbaijani officials in Baku ahead of the ISSF World Cup"
                    width="260"
                  />

                  <!-- News Card Overlay -->
                  <div class="news-card__overlay">
                    <!-- News Card Excerpt -->
                    <p class="news-card__excerpt">
                      ISSF President Luciano Rossi and General Secretary
                      Alessandro Nicotra di San Giacomo met the Minister of the
                      Interior & President of the Azerbaijan Shooting Federation
                      Vilayat Eyvazov and Deputy Minister of the Interior Ismat
                      Alijev ahead of the ISSF World Cup in Baku.
                    </p>
                  </div>
                </div>

                <p class="news-card__category">
                  <a
                    class="link"
                    href="news/?category=press"
                    data-news-category="press"
                  >
                    Press Releases
                  </a>
                </p>

                <!-- News Card Content + Meta -->
                <div class="news-card__content">
                  <!-- News Card Tags -->
                  <ul class="news-card__tags tags">
                    <li class="tag tag--gold">
                      <a class="tags__link" href="news/?tag=world_cup"
                        >World Cup</a
                      >
                    </li>
                    <li class="tag tag--dark">
                      <a class="tags__link" href="news/?tag=pistol">Pistol</a>
                    </li>
                  </ul>

                  <!-- News Card Title -->
                  <h3 class="news-card__title">
                    <a class="link" href="news/">
                      Official meeting between ISSF officials and Azerbaijani
                      representatives in Baku
                    </a>
                  </h3>

                  {{!-- News Card Meta --}}
                  <div class="news-card__meta">
                    <!-- News Card Post Date -->
                    <time class="news-card__date" datetime="2024-05-02">
                      <svg
                        class="icon"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <use
                          href="assets/icons/sprite.svg#icon-ui-calendar"
                        ></use>
                      </svg>
                      <span class="text">02 May, 2024</span>
                    </time>

                    <!-- News Card Link -->
                    <a class="news-card__link" href="news/">
                      <span class="text">Read more</span>
                      <span class="u-sr-only">
                        about the ISSF President and General Secretary meeting
                        Azerbaijani officials ahead of the ISSF World Cup in
                        Baku
                      </span>
                    </a>
                  </div>
                </div>
              </article>
            </li>

            <!-- Swiper Slides -->
            <li class="swiper-slide" data-atricle-id="id">
              <article class="news-card">
                <!-- News Card Thumbnail -->
                <div class="news-card__thumb">
                  <!-- News Card Image -->
                  <img
                    class="news-card__image"
                    src="assets/images/news/issf-leadership-meets-azerbaijan-officials-ahead-baku-world-cup/cover.jpg"
                    alt="ISSF leadership meeting Azerbaijani officials in Baku ahead of the ISSF World Cup"
                    width="260"
                  />

                  <!-- News Card Overlay -->
                  <div class="news-card__overlay">
                    <!-- News Card Excerpt -->
                    <p class="news-card__excerpt">
                      ISSF President Luciano Rossi and General Secretary
                      Alessandro Nicotra di San Giacomo met the Minister of the
                      Interior & President of the Azerbaijan Shooting Federation
                      Vilayat Eyvazov and Deputy Minister of the Interior Ismat
                      Alijev ahead of the ISSF World Cup in Baku.
                    </p>
                  </div>
                </div>

                <p class="news-card__category">
                  <a
                    class="link"
                    href="news/?category=press"
                    data-news-category="press"
                  >
                    Press Releases
                  </a>
                </p>

                <!-- News Card Content + Meta -->
                <div class="news-card__content">
                  <!-- News Card Tags -->
                  <ul class="news-card__tags tags">
                    <li class="tag tag--gold">
                      <a class="tags__link" href="news/?tag=world_cup"
                        >World Cup</a
                      >
                    </li>
                    <li class="tag tag--dark">
                      <a class="tags__link" href="news/?tag=pistol">Pistol</a>
                    </li>
                  </ul>

                  <!-- News Card Title -->
                  <h3 class="news-card__title">
                    <a class="link" href="news/">
                      Official meeting between ISSF officials and Azerbaijani
                      representatives in Baku
                    </a>
                  </h3>

                  {{!-- News Card Meta --}}
                  <div class="news-card__meta">
                    <!-- News Card Post Date -->
                    <time class="news-card__date" datetime="2024-05-02">
                      <svg
                        class="icon"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <use
                          href="assets/icons/sprite.svg#icon-ui-calendar"
                        ></use>
                      </svg>
                      <span class="text">02 May, 2024</span>
                    </time>

                    <!-- News Card Link -->
                    <a class="news-card__link" href="news/">
                      <span class="text">Read more</span>
                      <span class="u-sr-only">
                        about the ISSF President and General Secretary meeting
                        Azerbaijani officials ahead of the ISSF World Cup in
                        Baku
                      </span>
                    </a>
                  </div>
                </div>
              </article>
            </li>

            <!-- Swiper Slides -->
            <li class="swiper-slide" data-atricle-id="id">
              <article class="news-card">
                <!-- News Card Thumbnail -->
                <div class="news-card__thumb">
                  <!-- News Card Image -->
                  <img
                    class="news-card__image"
                    src="assets/images/news/issf-leadership-meets-azerbaijan-officials-ahead-baku-world-cup/cover.jpg"
                    alt="ISSF leadership meeting Azerbaijani officials in Baku ahead of the ISSF World Cup"
                    width="260"
                  />

                  <!-- News Card Overlay -->
                  <div class="news-card__overlay">
                    <!-- News Card Excerpt -->
                    <p class="news-card__excerpt">
                      ISSF President Luciano Rossi and General Secretary
                      Alessandro Nicotra di San Giacomo met the Minister of the
                      Interior & President of the Azerbaijan Shooting Federation
                      Vilayat Eyvazov and Deputy Minister of the Interior Ismat
                      Alijev ahead of the ISSF World Cup in Baku.
                    </p>
                  </div>
                </div>

                <p class="news-card__category">
                  <a
                    class="link"
                    href="news/?category=press"
                    data-news-category="press"
                  >
                    Press Releases
                  </a>
                </p>

                <!-- News Card Content + Meta -->
                <div class="news-card__content">
                  <!-- News Card Tags -->
                  <ul class="news-card__tags tags">
                    <li class="tag tag--gold">
                      <a class="tags__link" href="news/?tag=world_cup"
                        >World Cup</a
                      >
                    </li>
                    <li class="tag tag--dark">
                      <a class="tags__link" href="news/?tag=pistol">Pistol</a>
                    </li>
                  </ul>

                  <!-- News Card Title -->
                  <h3 class="news-card__title">
                    <a class="link" href="news/">
                      Official meeting between ISSF officials and Azerbaijani
                      representatives in Baku
                    </a>
                  </h3>

                  {{!-- News Card Meta --}}
                  <div class="news-card__meta">
                    <!-- News Card Post Date -->
                    <time class="news-card__date" datetime="2024-05-02">
                      <svg
                        class="icon"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <use
                          href="assets/icons/sprite.svg#icon-ui-calendar"
                        ></use>
                      </svg>
                      <span class="text">02 May, 2024</span>
                    </time>

                    <!-- News Card Link -->
                    <a class="news-card__link" href="news/">
                      <span class="text">Read more</span>
                      <span class="u-sr-only">
                        about the ISSF President and General Secretary meeting
                        Azerbaijani officials ahead of the ISSF World Cup in
                        Baku
                      </span>
                    </a>
                  </div>
                </div>
              </article>
            </li>

            <!-- Swiper Slides -->
            <li class="swiper-slide" data-atricle-id="id">
              <article class="news-card">
                <!-- News Card Thumbnail -->
                <div class="news-card__thumb">
                  <!-- News Card Image -->
                  <img
                    class="news-card__image"
                    src="assets/images/news/issf-leadership-meets-azerbaijan-officials-ahead-baku-world-cup/cover.jpg"
                    alt="ISSF leadership meeting Azerbaijani officials in Baku ahead of the ISSF World Cup"
                    width="260"
                  />

                  <!-- News Card Overlay -->
                  <div class="news-card__overlay">
                    <!-- News Card Excerpt -->
                    <p class="news-card__excerpt">
                      ISSF President Luciano Rossi and General Secretary
                      Alessandro Nicotra di San Giacomo met the Minister of the
                      Interior & President of the Azerbaijan Shooting Federation
                      Vilayat Eyvazov and Deputy Minister of the Interior Ismat
                      Alijev ahead of the ISSF World Cup in Baku.
                    </p>
                  </div>
                </div>

                <p class="news-card__category">
                  <a
                    class="link"
                    href="news/?category=press"
                    data-news-category="press"
                  >
                    Press Releases
                  </a>
                </p>

                <!-- News Card Content + Meta -->
                <div class="news-card__content">
                  <!-- News Card Tags -->
                  <ul class="news-card__tags tags">
                    <li class="tag tag--violet">
                      <a class="tags__link" href="news/?tag=world_cup"
                        >World Cup</a
                      >
                    </li>
                    <li class="tag tag--green">
                      <a class="tags__link" href="news/?tag=pistol">Pistol</a>
                    </li>
                  </ul>

                  <!-- News Card Title -->
                  <h3 class="news-card__title">
                    <a class="link" href="news/">
                      Official meeting between ISSF officials and Azerbaijani
                      representatives in Baku
                    </a>
                  </h3>

                  {{!-- News Card Meta --}}
                  <div class="news-card__meta">
                    <!-- News Card Post Date -->
                    <time class="news-card__date" datetime="2024-05-02">
                      <svg
                        class="icon"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <use
                          href="assets/icons/sprite.svg#icon-ui-calendar"
                        ></use>
                      </svg>
                      <span class="text">02 May, 2024</span>
                    </time>

                    <!-- News Card Link -->
                    <a class="news-card__link" href="news/">
                      <span class="text">Read more</span>
                      <span class="u-sr-only">
                        about the ISSF President and General Secretary meeting
                        Azerbaijani officials ahead of the ISSF World Cup in
                        Baku
                      </span>
                    </a>
                  </div>
                </div>
              </article>
            </li>
          </ul>

          <!-- Swiper Pagination -->
          <div class="news-slider__pagination swiper-pagination"></div>

          <!-- Swiper Navigation buttons -->
          <button class="news-slider__btn-prev swiper-button-prev">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
            </svg>
          </button>
          <button class="news-slider__btn-next swiper-button-next">
            <svg width="32" height="32" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
