
  <html lang="en">
  {{!-- Head --}}
  {{> layouts/head/index page=profiles.mustafayev_ali}}
  {{!-- Body --}}
  <body data-page="athlete">
    {{!-- Header --}}
    {{> layouts/header/index }}
    {{!-- Main --}}
    <main class="page-athletes">
      {{!-- Page Hero Section --}}
      {{> layouts/hero/index page=profiles.mustafayev_ali}}
    <div class="js-athlete-page"></div>
    </main>
    {{!-- Footer --}}
    {{> layouts/footer/index}}
    {{!-- Modal Backdrop --}}
    {{> components/backdrop/backdrop}}
    {{!-- Page Scripts --}}
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>