{{! Page Content }}
<main class="page-contacts">
  {{! Page Hero Section  }}
  {{> layouts/page-hero/index }}

  <section class="page-contacts__body">
    <div class="container">
      {{> layouts/feedback-form/index addClass='page-contacts__form'}}
      {{> components/google-map/google-map addClass='page-contacts__map'}}
    </div>
  </div>

</main>
